<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <title>Create Auction</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="form-container">
        <form method="POST" action="{{ url_for('create_auction') }}">
            <h2>Create Auction</h2>
            <div class="form-group">
                <label for="title">Item Title:</label>
                <input type="text" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" rows="4" required></textarea>
            </div>
            <!-- Removed start_time input field -->
            <div class="form-group">
                <label for="end_time">End Time:</label>
                <input type="datetime-local" name="end_time" required>
            </div>
            <div class="form-group">
                <label for="reserve_price">Reserve Price:</label>
                <input type="number" name="reserve_price" required>
            </div>
            <input type="submit" value="Create Auction">
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>
